#jinja2: lstrip_blocks: "True"
[Unit]
Description=paste ({{ paste_identifier }})
{% for service in paste_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ paste_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ paste_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ paste_identifier }} \
			--log-driver=none \
			--network={{ paste_container_network }} \
			--cap-drop=ALL \
			--env-file={{ paste_base_path }}/env \
			--label-file={{ paste_base_path }}/labels \
			--tmpfs=/tmp:rw,noexec,nosuid,size=512m \
			{% for arg in paste_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ paste_container_image }}

{% for network in paste_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ paste_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ paste_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ paste_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ paste_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ paste_identifier }}

[Install]
WantedBy=multi-user.target
